/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    background-color: #f6f8f9;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/
header {
    height: 75px;
    margin: auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
}

.logo {
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
    display: inline-block;
}
/*FINE HEADER*/

/*MAIN*/
.link {
    margin: 50px auto 5px;
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    padding: 10px 100px 10px 40px;
}

.link a {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

#add-task {
    background: #14AAF5;
    color: white;
}

#add-sec {
    border: 1px solid #c4cbd0;
    color: #c4cbd0;
}

/*LISTA*/
.liste {
    margin: auto;
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 5px;    
}

ul {
    list-style-type: none;
}

li {
    padding: 12px;
}

li h3 {
    display: inline-block;
    vertical-align: middle;
}

.liste-non-ordinate {
    padding: 15px 30px 15px 40px;
}
/*FINE LISTA*/

/*ENTITY*/
.triangolo {
    font-size: 25px;
    vertical-align: middle;
}

.spunta {
    width: 20px;
    height: 20px;
    border: 2px solid #42ccb4;
    border-radius: 50%;
    color: #42ccb4;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin: 7px;
}

.croce {
    width: 20px;
    height: 20px;
    border: 2px solid #ff1010;
    border-radius: 50%;
    color: #ff1010;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    margin: 7px;
}
/*FINE ENTITY*/

/*LINK IN LISTE*/
.liste a {
    font-size: 10px;
    height: auto;
    width: 8%;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.editorial {
    background: #14AAF5;
}

.goal {
    background: #ab5de6;
}

.recruiting {
    background: #2cc6ab;
}

.mobile {
    background: #ff9b00;
}

.website {
    background: #ec4a9d;
}

.sales {
    background: #a3d116;
}
/*FINE LINK IN LISTE*/
/*FINE MAIN*/

/*FOOTER*/
/*FINE FOOTER*/