/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    background-color: #6c7f88;
}

/*HEADER*/
header {
    height: 75px;
    margin: auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
}

.logo {
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*FINE HEADER*/

/*MAIN*/
.link {
    margin: 50px auto 5px;
    background-color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px;
}

.link a {
    display: inline-block;
    padding: 15px 30px 15px 60px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

#add-task {
    background: #14AAF5;
    color: white;
}

#add-sec {
    border: 1px solid #c4cbd0;
    color: #c4cbd0;
}

.liste {
    margin: auto;
    background-color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px;
}

.liste-non-ordinate {
    padding: 15px 30px 15px 60px;
}
/*FINE MAIN*/

/*FOOTER*/
/*FINE FOOTER*/